<div class="heatnote_header">
    <div>
        <h1 class="heatnote_logo">레시피를 찾아줘!</h1>
    </div>
    <div>
        <span>홈</span>
        <span>레시피</span>
        <span>게시판</span>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
            <span>로그인</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
            <span>로그아웃</span>
        </a>
        {% endif %}
    </div>
</div>