.heatnote_logo {
    font-family: 'Noto Sans KR', sans-serif;
}

.heatnote_footer_button {
    font-size: .9rem;
}

.heatnote_footer {
    text-align: center;
    margin-top: 2rem;
}

.heatnote_header {
    text-align: center;
    margin: 2rem 0;
}