{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

    <div style="text-align: center; max-width: 500px; margin: 4rem auto">
        <div class="mb-4">
            <h4>레시피 검색</h4>
        </div>
        <form action="{% url 'predict:food' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="확인하기" class="btn btn-success rounded-pill col-6 mt-3">
            
        </form>

    {% if prediction %}
        <div class="mb-2" style="font-size: 1.5rem; font-family: 'NanumSquareB'; margin: 2rem;">
            {{prediction}} 한번 만들어볼까요?
        </div>
        <div style="border:1px solid; padding:5rem; font-size: 1.3rem; font-family: 'NanumSquareB'; margin:1.5rem; ">
            🍔🍕 레시피 준비 중입니다 🍘🍖
        </div>   
    {% endif %}
    </div>



{% endblock %}